@use "_variaveis_" as v;

@font-face {
  font-family: "Pixelado";
  src: url("./assets/fonts/PressStart2P-Regular.ttf") format("TrueType");
}

// Index.html
body {
  background-color: v.$bg;
  animation: OnEnter 4s ease-in-out;
}

// Error.tsx
.e-base-container {
  .e-header {
    .top-container {
      #e-titulo {
        color: rgb(9, 9, 9);
        font-family: "Courier New", Courier, monospace;
        font-size: 53px;
      }
      #e-subtitulo {
        color: rgb(9, 9, 9);
        font-family: "Courier New", Courier, monospace;
        font-size: 43px;
        transform: translateY(-30px);
      }
    }
  }
}

// Home.tsx
.h-base-container {
  .h-header {
    .h-logo-container {
      display: flex;
      justify-content: center;
      #h-logo {
        height: 300px;
      }
    }
    .h-top-container {
      text-align: center;
      #h-titulo {
        color: v.$cor_principal;
        font-size: 79px;
        font-family:
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          "Open Sans",
          "Helvetica Neue",
          sans-serif;
      }
      #h-subtitulo {
        color: v.$cor_secundaria;
        font-size: 67px;
        font-family:
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          "Open Sans",
          "Helvetica Neue",
          sans-serif;
        transform: translateY(-60px);
      }
    }
  }
  #h-divisoria1 {
    border: 3px solid rgba(19, 19, 19, 0.669);
    border-radius: 12px;
    transform: translateY(-80px);
  }
  .h-main {
    .h-about-container {
      #h-about-container-titulo {
        text-align: center;
        color: v.$cor_principal;
        font-size: 43px;
        font-family: "Pixelado";
      }
    }
  }
}

// Animações
@keyframes OnEnter {
  0% {
    filter: opacity(0%) grayscale(100%);
  }
  50% {
    filter: opacity(50%) grayscale(50%);
  }
  100% {
    filter: opacity(100%) grayscale(0%);
  }
}
